{
  "presets": [
    ["env", {
      "targets": {
        "ie": 9,
        "uglify": true
      },
      "modules": false,
      "loose": true
    }],
    "stage-0",
    "react"
  ],
  "ignore": "__tests__",
  "env": {
    "commonjs": {
      "plugins": [
        ["transform-es2015-modules-commonjs", { "loose": true }],
        ["lodash", { "id": ["lodash", "recompose"] }]
      ]
    },
    "es": {
      "plugins": [
        ["lodash", { "id": ["lodash", "recompose"] }]
      ]
    },
    "test": {
      "presets": [
        ["env", { "targets": { "node": "current" } }]
      ],
      "ignore": null
    }
  }
}
